
/* CSS Variables */
:root {
  --primary: 231 100% 59%;
  --primary-foreground: 0 0% 100%;
  
  --oksale-primary: 231 100% 59%;
  --oksale-primary-foreground: 0 0% 100%;
  
  --oksale-50: #EEF2FF;
  --oksale-100: #E0E7FF;
  --oksale-200: #C7D2FE;
  --oksale-300: #A5B4FC;
  --oksale-400: #818CF8;
  --oksale-500: #6366F1;
  --oksale-600: #4F46E5;
  --oksale-700: #4338CA;
  --oksale-800: #3730A3;
  --oksale-900: #312E81;
}

body {
  @apply font-sans;
}
