
/* CSS Variables */
:root {
  --primary: 250 96% 62%;
  --primary-foreground: 0 0% 100%;
  
  --matajer-primary: 250 100% 62%;
  --matajer-primary-foreground: 0 0% 100%;
  
  --matajer-50: #F2F3FF;
  --matajer-100: #E6E7FF;
  --matajer-200: #C9CBFF;
  --matajer-300: #A9ACFF;
  --matajer-400: #8387FF;
  --matajer-500: #5F63FF;
  --matajer-600: #484CDF;
  --matajer-700: #383CBF;
  --matajer-800: #2F329F;
  --matajer-900: #1F2173;
}

body {
  @apply font-sans;
}
