
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/variables.css';
@import './styles/layout.css';
@import './styles/components.css';
@import './styles/utilities.css';
@import './styles/animations.css';

@layer base {
  :root {
    --primary: 250 96% 62%;
    --primary-foreground: 0 0% 100%;
    
    --matajer-primary: 250 100% 62%;
    --matajer-primary-foreground: 0 0% 100%;
  }
  
  body {
    @apply font-sans;
  }
  
  /* RTL Direction */
  html {
    direction: rtl;
  }
}
